<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="NutriTrackDB"
			 connectionString="Server=localhost;Database=NutriTrackDB;Trusted_Connection=True;"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>

	<system.web>
		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime targetFramework="4.8" />

		<!-- Splash como inicio -->
		<authentication mode="Forms">
			<forms loginUrl="~/Pages/Auth/Login.aspx"
				   defaultUrl="~/Pages/Dashboard.aspx"
				   timeout="60"
				   slidingExpiration="true" />
		</authentication>
		<sessionState timeout="60" />
	</system.web>
</configuration>